@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');




/*  GLOBALES    */


:root {
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    max-width: 1300px;
    margin: 0 auto;
}

section {
    width: 100%;
    margin: 50px auto;
}




/*  HEADER  */

.header {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    right: 0;  
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    background: transparent;
    backdrop-filter: blur(6px);
    padding: 0 20px;
    transition: all .50s ease;
}   

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo i {
    color: var(--main-color);
    font-size: 2rem;
}

.header__logo span {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 300;
    margin-left: 5px;
}

.navbar {
    display: flex;
}

#toggle-menu, .navbar label i{
    display: none;
}

.navbar__list {
    display: flex;
    gap: 30px;
    margin-left: 10px;
    background: transparent;
    backdrop-filter: blur(6px);
}

.navbar__list a {
    color: var(--text-color);
    font-size: .9rem;
}

.navbar__list a:hover, .navbar__list a.active {
    color: var(--main-color);
}

.navbar__main {
    margin-left: 100px;
}

.navbar__main a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar__main a:hover {
    color: var(--main-color);
}

.navbar__main i {
    font-size: 1.2rem;
    color: var(--main-color);
}

.navbar__user {
    margin: 0 8px;
}

/*  HERO    */

.hero__slogan {
    margin: 120px 0;
    padding: 50px 25px;
}

.hero__slogan h1 {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 8px;
    text-align: center;
}

.hero__slogan-comp {
    margin: 50px;
}

.hero__slogan-comp p {
    font-size: 1rem;
    line-height: 2;
}

.hero__slogan-comp img{
    padding: 30px;
    width: 100%;
}

/*  PRODUCTS  */

.products__info h1 {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.products__info p {
    margin-top: 50px;
    text-align: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: transparent;
    gap: 100px;
    margin-top: 100px;
}

.cards {
    position: relative;
    width: 300px;
    height: 350px;
}

.cards .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.cards .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.cards .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: var(--text-color);
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.cards .back {
    transform: perspective(600px)
    rotateY(180deg);
    background: transparent;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.cards .back h3 {
    font-size: 2.2rem;
    letter-spacing: 2px;
}

.cards .back p {
    letter-spacing: 1px;
    font-size: 2.8rem;
}

.cards .back .card__buy {
    border-top: solid 1px var(--text-color);
    height: 50px;
    line-height: 50px;
}

.cards .back .card__buy a {
    color: var(--main-color);
}

.cards:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.cards:hover .back {
    transform: perspective(600px) rotateY(360deg);
}


/*  ABOUT   */

.about__container {
    padding: 20px;
}

.about__tittle {
    text-align: center;
    margin-bottom: 50px;
    font-size: 3em;
    letter-spacing: 8px;
    font-weight: 500;
}

.about__text {
    text-align: justify;
    font-weight: 300;
    font-size: 1rem;
}



/*  Contact */

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.contact__logo {
    text-align: center;
    font-size: 3em;
    margin-bottom: 50px;
    font-weight: 100;
}

.contact__logo span {
    color: var(--main-color);
    font-weight: 400;
}

.contact__wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.contact__wrapper > * {
    padding: 2em;
}

.contact__form {
    background: #222222;
}

.contact__form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact__form form .block {
    grid-column: 1 / 3;
}

.contact__form form p {
    margin: 0;
    padding: 1em;
}


.contact__form form button,
.contact__form form input,
.contact__form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    border-bottom: 1px solid var(--main-color);
}

.contact__form form button {
    background: var(--main-color);
    color: var(--bg-color);
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 5px;
    border: 0;
    text-transform: uppercase; 
    padding: 1em;
}

.contact__form form button:hover,
.contact__form form button:focus {
    background: var(--main-color);
    color: var(--text-color);
    transition: .5s ease-out ;
    outline: none;
    cursor: pointer;
}

.contact__info {
    background: #000;
}

.contact__info h4,
.contact__info ul,
.contact__info p {
    text-align: left;
    padding: 1em;
}

.contact__info ul li {
    padding: .3em;
}

/*  FOOTER  */


footer {
    width: 100%;
    padding: 50px 0;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}


.footer__box {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.footer__box .footer__logo a {
    width:  180px;
}

.footer__box .footer__cup {
    color: var(--main-color);
    font-size: 2.2rem;
}

.footer__box .footer__terms {
    max-width: 350px;
    font-weight: 300;  
    color: var(--text-color);
    font-size: 1rem;
}

.footer__box h2 {
    margin-bottom: 30px;
    color: var(--text-color);
    font-weight: 300;
}

.footer__box a {
    margin-top: 10px;   
    color: var(--text-color);
    font-weight: 300;
}

.footer__box a:hover {
    opacity: 0.8;
    color: var(--main-color);
}

.footer__box a .fab {
    font-size: .8rem;
    font-weight: 300;
}

.footer__copy {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
}

.footer__copy p {
    margin-top: 20px;
    color: var(--text-color);
}



/* MEDIAS QUERYS  */

@media screen and  (max-width: 991.98px) {
    .header__logo i {
        font-size: 1.8rem;
    }

    .header__logo span {
        font-size: 1rem;
    }

    .navbar label i{
        display: block;
        font-size: 1.3rem;
        margin-left: 30px;
        cursor: pointer;
    }

    #toggle-menu:checked ~ .navbar__list {
        display: flex;
    }

    .navbar ul {
        width: 100%;
        height: calc(100vh - 80px);
        background: var(--bg-color);
        position: absolute;
        top: 80px;
        left: -10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        gap: 80px;
        font-size: 2rem;
    }

    .navbar__main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 5px;
        order: 2;
        gap: 100px;
        font-size: 3rem;
    }

    .hero__slogan h1 {
        font-size: 1.8rem;
    }

    .contact__wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and  (max-width: 1199.98px) {
    .hero__slogan-comp {
        margin-top: 100px;
        flex-direction: column;
    }
}

@media screen and (max-width: 1900px) {
    /* TODO: CENTRAR LA PAGINA WEB A PARTIR DE ESTA MEDIDA */

    body {
        margin: auto;
    }
}






